# 4.6 ORDERS PRODUCTS COMBINED (MERGE OF DATA)

## CONTENTS:
1. Import libraries
2. Check and clean data (if necessary)
3. Merge data files

### 1. Import libraries

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# define path
path = r'C:\Users\susan\Documents\data analytics\Instacart Basket Analysis\02 Data\Prepared data'

In [8]:
path

'C:\\Users\\susan\\Documents\\data analytics\\Instacart Basket Analysis\\02 Data\\Prepared data'

In [27]:
# import orders_products_combined
df_comb = pd.read_pickle(os.path.join(path, 'orders_products_combined.pkl'))

### 2. Check and clean data (if necessary)

In [29]:
df_comb.shape

(59, 11)

In [31]:
# import products_checked
df_prod = pd.read_csv(os.path.join(path, 'products_checked.csv'))

In [34]:
df_prod.shape

(49672, 5)

In [45]:
df_prod.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [43]:
df_comb.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
count,5.900000e+01,59.0,59.000000,59.000000,59.000000,54.000000,59.000000,59.000000,59.000000
mean,1.962396e+06,1.0,5.813559,2.644068,10.542373,20.259259,17885.966102,3.627119,0.694915
std,1.038832e+06,0.0,2.991220,1.256194,3.500355,9.304463,13878.937001,2.016298,0.464396
min,4.315340e+05,1.0,1.000000,1.000000,7.000000,0.000000,196.000000,1.000000,0.000000
25%,5.501350e+05,1.0,3.000000,1.000000,7.500000,15.000000,10258.000000,2.000000,0.000000
50%,2.398795e+06,1.0,6.000000,3.000000,9.000000,20.500000,12427.000000,3.000000,1.000000
75%,2.550362e+06,1.0,8.500000,4.000000,14.000000,28.750000,25133.000000,5.000000,1.000000
max,3.367565e+06,1.0,10.000000,4.000000,16.000000,30.000000,49235.000000,9.000000,1.000000

### 3. Merge data files

In [69]:
# Merge df_comb with df_prod (shows observations in both dataframes, keeping all rows from df_comb)
df_merged = df_comb.merge(df_prod, on = 'product_id', how = 'left')

In [90]:
# Sum up values in the merge column (confirm the results using the merge flag)
df_merged['_merge'].value_counts()

_merge
both          59
left_only      0
right_only     0
Name: count, dtype: int64

In [94]:
# Export data to .csv -- df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))
df_merged.to_pickle(os.path.join(path, 'ords_prods_merge.pkl'))