In [ ]:
# 1. Import libraries and combined file.
# 2. Merge with products checked data. 
# 3. Check statistics.
# 4. Export new file.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# define path
path = r'C:\Users\Administrator\Documents\data analytics\Instacart Basket Analysis\02 Data\Prepared data'

In [3]:
path

'C:\\Users\\Administrator\\Documents\\data analytics\\Instacart Basket Analysis\\02 Data\\Prepared data'

In [4]:
# import orders_products_combined
df_comb = pd.read_pickle(os.path.join(path, 'orders_products_combined.pkl'))

In [5]:
df_comb.shape

(32640698, 11)

In [6]:
# import products_checked
df_prod = pd.read_csv(os.path.join(path, 'products_checked.csv'))

In [7]:
df_prod.shape

(49672, 5)

In [8]:
df_prod.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [9]:
df_comb.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
count,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.056263e+07,3.243449e+07,3.243449e+07,3.243449e+07
mean,1.710719e+06,1.029383e+05,1.713856e+01,2.739040e+00,1.342599e+01,1.114427e+01,2.557634e+04,8.351076e+00,5.896975e-01
std,9.873085e+05,5.946686e+04,1.752967e+01,2.090265e+00,4.246227e+00,8.806570e+00,1.409669e+04,7.126671e+00,4.918886e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.558860e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353000e+04,3.000000e+00,0.000000e+00
50%,1.710984e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00
75%,2.565490e+06,1.543940e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00

In [10]:
# Merge df_comb with df_prod (shows observations in both dataframes, keeping all rows from df_comb)
df_merged = df_comb.merge(df_prod, on = 'product_id', how = 'left')

In [11]:
# Sum up values in the merge column (confirm the results using the merge flag)
df_merged['_merge'].value_counts()

_merge
both          32435059
left_only       206209
right_only           0
Name: count, dtype: int64

In [13]:
df_merged.shape

(32641268, 15)

In [14]:
# Export data to .csv -- df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))
df_merged.to_pickle(os.path.join(path, 'ords_prods_merge.pkl'))